.lifts-control {
    text-align: center;
    border: 1px solid purple;
    padding: 1rem;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;
}

.lifts-control button {
    background: purple;
    font: inherit;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    color: orange;
    cursor: pointer;
}

.lifts-control button:hover
,.lifts-control button:active {
    background: orange;
    color: purple;
    border-color: orange;
}